


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand p-2" href="#">
    <img src="../../../favicon.ico" width="30" height="30" alt="">
  </a>

  <a class="navbar-brand" href="#">App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Page 1</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Page 2</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Page 3</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
  <div class="nav-item" style="cursor: pointer; margin-right: 2rem;">
    <button class="btn nav-button btn-danger" (click)="logout()">
      Logout
    </button>
  </div>

</nav>

<h1>Home</h1>
