
<div class="card p-2 mt-5" style="background: transparent; border: solid 0.1rem white;">
  <div class="card-title text-center mt-2"> 
    <h2>{{user.name}}</h2>
  </div>

  <div style="width: 100%; text-align: center;">
    <img [src]="user.img" width="150" height="150" alt="" style="margin-top: 2rem; border-radius: 50%">
    <div style="width: 100%; color: whitesmoke;">
      {{user.email}}
    </div>
  </div>

  <div class="card-footer text-center mt-3">
    <button class="btn nav-button btn-danger" (click)="logout()">
      Logout
    </button>
  </div>
</div>


