<div class="row w-100 flex-center">
    <div class="col bungee-font toolbar-title">
        DIGITALOPHY
    </div>

    <div class="contents-right">
        <i class="fa fa-home toolbar-icon"></i>
        <i class="fa fa-bell toolbar-icon">
            <span class="translate-middle badge rounded-pill bg-danger position-absolute">
                !
            </span>
        </i>
        <i class="fa fa-envelope toolbar-icon"></i>
        <i class="fa fa-sign-out toolbar-exit-icon"></i>
    </div>
</div>