

<div class="container flex-center">
  <div class="card mt-5 login-background">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body gradient-background">
      <h1 class="card-title center">LOGIN APP</h1>
      <div class="container mb-3 mt-3">
        <form [formGroup]="loginForm">
          <div class="mb-3">
            <label for="emailInput" class="form-label">User</label>
            <input type="email" class="form-control" id="emailInput" formControlName="user" placeholder="User">
          </div>
          <div class="mb-3">
            <label for="emailInput" class="form-label">Email</label>
            <input type="email" class="form-control" id="emailInput" formControlName="email" placeholder="e-mail">
          </div>
          <div class="mb-3">
            <label for="passInput" class="form-label">Password</label>
            <input type="password" class="form-control" id="passInput" formControlName="password" placeholder="Password">
          </div>
        </form>

        <div class="mt-5 w-100 center">
          <button type="button" class="btn btn-primary w-100" (click)="register()">Register</button>
        </div>

        <div *ngIf="!isLoggedin" class="mt-1 w-100 center">
          <button type="button" class="btn btn-info w-100" (click)="login()">Login</button>
        </div>
        <div *ngIf="isLoggedin" class="mt-1 w-100 center">
          <button type="button" class="btn btn-info w-100" (click)="logout()">Log Out</button>
        </div>

        <div *ngIf="!isGoogleLoggedin" class="mt-1 w-100 center">
          <button type="button" class="btn btn-light w-100" (click)="loginWithGoogle()">Google Sign In</button>
        </div>
        <div *ngIf="isGoogleLoggedin" class="mt-1 w-100 center">
          <button type="button" class="btn btn-light w-100" (click)="logOutGoogle()">Google Sign Out</button>
        </div>

      </div>

    </div>
  </div>
</div>

